body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
}

.gamespace {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 120ch;
}

#player1 {
  color: white;
  font-size: 500%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10%;
  align-items: center;
}

#rock {
  display: grid;
}

#paper {
  display: grid;
}

#scissors {
  display: grid;
}

#winner {
    color: white;
    font-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: -1;
    margin-bottom: 100%;
}

#gameText {
  color: white;
  font-size: 300%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


#CPU {
  color: white;
  margin-left: 10%;
  font-size: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
